/* reset styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr,acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, header, main, footer {
    margin: 0;
    padding: 0;  
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

@outer-background-color-lighter: #f2f2f2;
@outer-background-color: #e8e8e8;
@outer-background-color-darker: #d6d6d6;
@text-color: #464646;
@orange-light: #E3BA72;
@orange-norm: #DCA94F;
@orange-dark: #F6AB31;
@blue-light: #57B3DF;
@blue-norm: #0099CC;
@blue-dark: #0071A1;
@blue-darker: #005b81;
@link-unvisited: #57B3DF; //#0093C6;
@link-visited: #0099CC; //#0071b8;
@nav-unselected: #809098;
@nav-selected: #435762;


h1 {
    font-size: 40px;
    line-height: 50px;
    padding: 5px 0 10px 0;
    font-weight: bold;
    color: @text-color;
}
h2 {
    font-size: 36px;
    line-height: 46px;
    padding: 5px 0 10px 0;
    font-weight: bold;
    color: @text-color;
}
h3 {
    font-size: 32px;
    line-height: 42px;
    padding: 5px 0 10px 0;
    font-weight: bold;
    color: @text-color;
}
h4 {
    font-size: 28px;
    line-height: 38px;
    padding: 5px 0 10px 0;
    font-weight: bold;
    color: @text-color;
}
h5 {
    font-size: 24px;
    line-height: 34px;
    padding: 5px 0 10px 0;
    font-weight: bold;
    color: @text-color;
}
h6 {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0 10px 0;
    font-weight: bold;
    color: @text-color;
}



#displaycenter() {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

html{
	height: 100%;
}

body {
    background-color: @outer-background-color-lighter;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    width: 100%;   
    display: flex;
}
p {
    padding: 10px 0 10px 0;
    color: @text-color;
}
a, a:active, a:focus {
outline: none;
}
/* unvisited link */
a:link {
    color: @link-unvisited;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: @link-visited;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: @link-unvisited;
    text-decoration: underline;
}
/* selected link */
a:active {
    color: @link-visited;
    text-decoration: underline;
}

#boxed { 
    width: 70%;
    box-shadow: 0 0 7px @outer-background-color-darker;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header { 
    background-color: #fff;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
    border: 1px solid @outer-background-color-darker;
}
#logo_top {
    margin: 10px 30px 10px 7.5%;
    height: 40px;
    order: 1;
}
.menu-nav-basic {
    width: 700px;
    order: 2;
}
#menu-nav-mobile {
    display: none;
    height: 30px;
    order: 2;
}
.menu-nav-basic .nav {
    overflow: hidden;
}
.menu-nav-basic .nav li {
    display: inline-block;
}
.menu-nav-basic .nav a {
    color:  @nav-unselected;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 7px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-nav-basic .nav a:hover {
    color:  @nav-selected;
    background-color: #fff;
    transition: color 0.4s ease;
}

.menu-nav-basic a.selected {
    color:  @nav-selected;
    border-bottom: 2px solid @blue-norm;
    padding-bottom: 6px;
}

#content {
    flex: 1 0 auto;
    margin: 40px 0 30px 0;
    #displaycenter();
    width: 85%;
    border-radius: 2px;
}

#snippet_sidebar {
    background-color: @blue-norm;
    border: 1px solid @blue-dark;
    min-width: 250px;   max-width: 250px;
    padding: 20px;
    white-space: nowrap;
}

#snippet_sidebar ul {
    list-style: none;
}
#snippet_sidebar li {
    background-color: @blue-dark;
    color: black;
    border: 1.4px solid @blue-darker;
    padding-left: 20px;
    padding-bottom: 10px;
    margin: 7px 0;
    line-height: 10px;
}

#snippet_sidebar li:hover {
    background-color: @orange-dark;
    transition: background-color 0.4s ease;
    cursor: pointer;
}
#snippet_sidebar li:before { 
    content: "";
    border-color: transparent @orange-dark;
    border-style: solid;
    border-width: 5px 0 5px 7px;
    display: block;
    height: 0;
    width: 0;
    left: -13px;
    top: 11px;
    position: relative;
}
#snippet_sidebar li:hover:before { 
    border-color: transparent @blue-dark;
    transition: border-color 0.4s ease;
}

#snippet_sidebar .title {
    color: @orange-dark;
}
#snippet_sidebar .code_list {
    padding-left: 0;
    padding-bottom: 12px;
}

#snippet_sidebar .code_list_ind {
    padding-left: 20px;
}

#snippet_sidebar_mobile {
    display: none;   
}
.code_snip {
    padding: 10px 0 10px 0;   
}

#inner_content {
    background-color: #fff;
    border: 1px solid @outer-background-color-darker;
    padding: 20px 50px;
    width: 100%;
}

/* Footer */
#myFooter{
    padding-top:32px;
    clear: left;
}

#myFooter .contain{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: @outer-background-color-darker;
}

#myFooter .footer-copyright{
    color: @text-color;
}

#myFooter ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 18px;
}

#myFooter a{
    font-size: 18px;
    color: @blue-norm;
}

#myFooter li{
    display: inline-block;
    margin: 0px 15px;
    line-height: 2;
}

@media(max-width: 1050px) {
    #header {
        flex-direction: column;
        /* Center according to the main axis */
	    justify-content: center;
	    /* Center according to the secondary axis */
        align-items: center;
    }
    #logo_top {
        height: 30px;
        margin: 0 0 15px 0;
    }
    .menu-nav-basic {
        text-align: center;
    }
}
@media(max-width: 720px) {
    .menu-nav-basic .nav a {
        font-size: 10px;
    }   
    main {
        display: block;
    }
    #snippet_sidebar {
        min-width: none; max-width: none;
        width: 100%;
    }
    #snippet_sidebar .title {
        text-align: center;  
        padding-top: 0;
    }
    #snippet_sidebar .code_list {
        display: inline-block;  
        width: 30%;
        margin-right: 4%;
        vertical-align: top;
    }

    #inner_content {
        width: 100%;
    }   
}
@media(max-width: 575px) {
    .menu-nav-basic {
         display: none; 
    }
    #menu-nav-mobile {
        display: block; 
        width: 100%;
    }
    #snippet_sidebar {
         display: none; 
    }
    #snippet_sidebar_mobile {
        display: block; 
        width: 100%;
    }
}