/* CSS crunched with Crunch - http://crunchapp.net/ */
/* reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
main,
footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
h1 {
  font-size: 40px;
  line-height: 50px;
  padding: 5px 0 10px 0;
  font-weight: bold;
  color: #464646;
}
h2 {
  font-size: 36px;
  line-height: 46px;
  padding: 5px 0 10px 0;
  font-weight: bold;
  color: #464646;
}
h3 {
  font-size: 32px;
  line-height: 42px;
  padding: 5px 0 10px 0;
  font-weight: bold;
  color: #464646;
}
h4 {
  font-size: 28px;
  line-height: 38px;
  padding: 5px 0 10px 0;
  font-weight: bold;
  color: #464646;
}
h5 {
  font-size: 24px;
  line-height: 34px;
  padding: 5px 0 10px 0;
  font-weight: bold;
  color: #464646;
}
h6 {
  font-size: 20px;
  line-height: 30px;
  padding: 5px 0 10px 0;
  font-weight: bold;
  color: #464646;
}
html {
  height: 100%;
}
body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  width: 100%;
  display: flex;
}
p {
  padding: 10px 0 10px 0;
  color: #464646;
}
a,
a:active,
a:focus {
  outline: none;
}
/* unvisited link */
a:link {
  color: #57b3df;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: #0099cc;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: #57b3df;
  text-decoration: underline;
}
/* selected link */
a:active {
  color: #0099cc;
  text-decoration: underline;
}
#boxed {
  width: 70%;
  box-shadow: 0 0 7px #d6d6d6;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#header {
  background-color: #fff;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  height: 150px;
  width: 100%;
  border: 1px solid #d6d6d6;
}
#logo_top {
  margin: 10px 30px 10px 7.5%;
  height: 40px;
  order: 1;
}
.menu-nav-basic {
  width: 700px;
  order: 2;
}
#menu-nav-mobile {
  display: none;
  height: 30px;
  order: 2;
}
.menu-nav-basic .nav {
  overflow: hidden;
}
.menu-nav-basic .nav li {
  display: inline-block;
}
.menu-nav-basic .nav a {
  color: #809098;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 0 7px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-nav-basic .nav a:hover {
  color: #435762;
  background-color: #fff;
  transition: color 0.4s ease;
}
.menu-nav-basic a.selected {
  color: #435762;
  border-bottom: 2px solid #0099cc;
  padding-bottom: 6px;
}
#content {
  flex: 1 0 auto;
  margin: 40px 0 30px 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 85%;
  border-radius: 2px;
}
#snippet_sidebar {
  background-color: #0099cc;
  border: 1px solid #0071a1;
  min-width: 250px;
  max-width: 250px;
  padding: 20px;
  white-space: nowrap;
}
#snippet_sidebar ul {
  list-style: none;
}
#snippet_sidebar li {
  background-color: #0071a1;
  color: black;
  border: 1.4px solid #005b81;
  padding-left: 20px;
  padding-bottom: 10px;
  margin: 7px 0;
  line-height: 10px;
}
#snippet_sidebar li:hover {
  background-color: #f6ab31;
  transition: background-color 0.4s ease;
  cursor: pointer;
}
#snippet_sidebar li:before {
  content: "";
  border-color: transparent #f6ab31;
  border-style: solid;
  border-width: 5px 0 5px 7px;
  display: block;
  height: 0;
  width: 0;
  left: -13px;
  top: 11px;
  position: relative;
}
#snippet_sidebar li:hover:before {
  border-color: transparent #0071a1;
  transition: border-color 0.4s ease;
}
#snippet_sidebar .title {
  color: #f6ab31;
}
#snippet_sidebar .code_list {
  padding-left: 0;
  padding-bottom: 12px;
}
#snippet_sidebar .code_list_ind {
  padding-left: 20px;
}
#snippet_sidebar_mobile {
  display: none;
}
.code_snip {
  padding: 10px 0 10px 0;
}
#inner_content {
  background-color: #fff;
  border: 1px solid #d6d6d6;
  padding: 20px 50px;
  width: 100%;
}
/* Footer */
#myFooter {
  padding-top: 32px;
  clear: left;
}
#myFooter .contain {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  background-color: #d6d6d6;
}
#myFooter .footer-copyright {
  color: #464646;
}
#myFooter ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 18px;
}
#myFooter a {
  font-size: 18px;
  color: #0099cc;
}
#myFooter li {
  display: inline-block;
  margin: 0px 15px;
  line-height: 2;
}
@media (max-width: 1050px) {
  #header {
    flex-direction: column;
    /* Center according to the main axis */
    justify-content: center;
    /* Center according to the secondary axis */
    align-items: center;
  }
  #logo_top {
    height: 30px;
    margin: 0 0 15px 0;
  }
  .menu-nav-basic {
    text-align: center;
  }
}
@media (max-width: 720px) {
  .menu-nav-basic .nav a {
    font-size: 10px;
  }
  main {
    display: block;
  }
  #snippet_sidebar {
    min-width: none;
    max-width: none;
    width: 100%;
  }
  #snippet_sidebar .title {
    text-align: center;
    padding-top: 0;
  }
  #snippet_sidebar .code_list {
    display: inline-block;
    width: 30%;
    margin-right: 4%;
    vertical-align: top;
  }
  #inner_content {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .menu-nav-basic {
    display: none;
  }
  #menu-nav-mobile {
    display: block;
    width: 100%;
  }
  #snippet_sidebar {
    display: none;
  }
  #snippet_sidebar_mobile {
    display: block;
    width: 100%;
  }
}
