/* CSS crunched with Crunch - http://crunchapp.net/ */
/* reset styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
main,
footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  height: 100%;
}
body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 100%;
}
p {
  padding: 8px 0 8px 0;
}
a,
a:active,
a:focus {
  outline: none;
}
/* unvisited link */
a:link {
  color: #57b3df;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: #0099cc;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: #57b3df;
  text-decoration: underline;
}
/* selected link */
a:active {
  color: #0099cc;
  text-decoration: underline;
}
ul {
  list-style: circle;
}
#boxed {
  width: 70%;
  box-shadow: 0 0 7px #d6d6d6;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#header {
  background-color: #fff;
  flex: 0 0 auto;
  display: flex;
  height: 150px;
  width: 100%;
  padding-left: 30px;
  border: 1px solid #d6d6d6;
}
#logo_top {
  margin: 10px 30px 10px 0;
  height: 140px;
  order: 1;
}
.menu-nav-basic {
  width: 700px;
  display: flex;
  order: 2;
  /* Center according to the main axis */
  /* Center according to the secondary axis */
  align-items: center;
}
#menu-nav-mobile {
  display: none;
  height: 30px;
  order: 2;
}
.menu-nav-basic .nav {
  overflow: hidden;
}
.menu-nav-basic .nav li {
  display: inline-block;
}
.menu-nav-basic .nav a {
  color: #809098;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 0 7px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-nav-basic .nav a:hover {
  color: #435762;
  background-color: #fff;
}
.menu-nav-basic a.selected {
  color: #435762;
  border-bottom: 2px solid #0099cc;
  padding-bottom: 6px;
}
#content {
  background-color: blue;
  flex: 1 0 auto;
}
#inner_content {
  padding: 20px 50px;
}
#footer {
  background-color: purple;
  color: #f2f2f2;
  flex: 0 0 auto;
  text-align: center;
  padding: 30px 10px;
  font-size: 22px;
}
@media (max-width: 1050px) {
  #header {
    flex-direction: column;
    padding-left: 0;
  }
  #logo_top {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .menu-nav-basic {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .menu-nav-basic .nav a {
    font-size: 9px;
  }
}
@media (max-width: 565px) {
  .menu-nav-basic {
    display: none;
  }
  #menu-nav-mobile {
    display: block;
  }
}
